.block
    display: flex
    padding-bottom: 60px
    &-text
        padding: 20px 0px
        display: flex
        justify-content: space-between
        &--1
            width: 50%
            background-color: $light
            color: $third
        &--2
            width: 50%
            background-color: $third
            color: $light
        &__head
            margin: 15px 0
        &__item
            list-style-type: none
            display: flex
            padding: 5px 0
        &__point
            padding: 10px
            font-size: 18px
        &__img
            width: 40px
            height: 40px