.cours
    position: relative
    &-wrapper
        display: flex
        align-items: center
        justify-content: space-between
        padding: 60px 10px 
    &-card 
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        margin: 0 20px
        padding: 20px
        background-color: $header
        border-radius: 20px
        height: 175px
        transition: 0.6s 
        &:hover
            transform: scale(1.1) 
            border: solid 4px #bf83c7 
            background-color: $primary    
        &__link
            text-decoration: none
            font-size: 20px
            text-align: center
            color: $light
        &__img
            &--mng
                margin-top: -7px 
.capabilities
    color: $light
    &-header
        text-align: center
        padding-bottom: 30px
        transition: .4s 
        position: relative
        &:after 
            position: absolute
            transition: .3s
            content: ''
            width: 0
            left: 50%
            bottom: 5px 
            height: 3px
            background: #f7f7f7
        &:hover
            &:after 
                margin-left: 28%        
                width: 48%    
                left: 0           
    &-list
        display: flex
        flex-direction: column
        align-items: center
        font-size: 20px
        padding-bottom: 45px
        &__item
            list-style-type: none
            display: flex
            align-items: center
            border: solid 3px #3d6eea
            border-radius: 20px
            width: 50%
            height: 70px
            padding: 15px
            margin: 10px
            position: relative
            transition: 0.2s   
            &:hover
                background-color: $light 
                color: $third 
                transform: scale(1.08)
        &__img
            width: 30px
            height: 30px
        &__text
            padding-left: 15px

